services:
  oracle-db:
    image: gvenzl/oracle-free:latest
    container_name: mi-oracle-db
    ports:
      - "1521:1521"
    environment:
      - ORACLE_PASSWORD=Admin12345
      - APP_USER=test
      - APP_USER_PASSWORD=testpass12345
    volumes:
      - ./oracle-data:/opt/oracle/oradata
      - ./01_create_common_user.sql:/container-entrypoint-initdb.d/01_create_common_user.sql

  lab-service:
    build: ./backend/lab-service
    container_name: lab-service
    ports:
      - "8081:8081"
    environment:
      - SPRING_DATASOURCE_URL=jdbc:oracle:thin:@//oracle-db:1521/FREE
      - SPRING_DATASOURCE_USERNAME=dev
      - SPRING_DATASOURCE_PASSWORD=devpass12345
    depends_on:
      - oracle-db
    restart: on-failure

  result-service:
    build: ./backend/result-service
    container_name: result-service
    ports:
      - "8082:8082"
    environment:
      - SPRING_DATASOURCE_URL=jdbc:oracle:thin:@//oracle-db:1521/FREE
      - SPRING_DATASOURCE_USERNAME=dev
      - SPRING_DATASOURCE_PASSWORD=devpass12345
    depends_on:
      - oracle-db
    restart: on-failure

  user-service:
    build: ./backend/user-service
    container_name: user-service
    ports:
      - "8083:8083"
    environment:
      - SPRING_DATASOURCE_URL=jdbc:oracle:thin:@//oracle-db:1521/FREE
      - SPRING_DATASOURCE_USERNAME=dev
      - SPRING_DATASOURCE_PASSWORD=devpass12345
    depends_on:
      - oracle-db
    restart: on-failure

  frontend:
    build: ./frontend
    container_name: fs3-frontend
    ports:
      - "80:80"
    depends_on:
      - lab-service
      - result-service
      - user-service
    restart: on-failure

# SySTEM Credentials:
# Host: localhost
# Puerto: 1521
# SID: FREE
# User: SYSTEM
# Password: Admin12345

# App User Credentials:
# Host: localhost
# Puerto: 1521
# Service Name: FREEPDB1
# User: test
# Password: testpass12345

# Common User Credentials (created via sql script):
# Host: localhost
# Puerto: 1521
# SID: FREE
# User: dev
# Password: devpass12345
